body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* pars styles */
div.par
{
    width: 80%;
    height: 70px;
    background-color: blueviolet;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

div.p1
{
    background-image: linear-gradient(to right, #FFBABA, #C85C8E, #9D3C72, #7B2869);
}

div.p2
{
    background-image: linear-gradient(to left, #EAE7B1, #A6BB8D, #61876E, #3C6255);
}

div.p3
{
    background-image: linear-gradient(to right, #2C74B3, #144272, #205295, #0A2647);
}

div.p4
{
    background-image: linear-gradient(to left, #a3a08f, #FFDB89, #850000, #DC0000);
}

div.p5
{
    background-image: linear-gradient(to right, #FAF8F1, #FAEAB1, #E5BA73, #C58940);
}

div.p6
{
    background-image: linear-gradient(to left, #E6E5A3, #A9AF7E, #7D8F69, #557153);
}


/* covers styles */
div.cover
{
    width: 98%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0px 10px;
}

.c1, .c3, .c5
{
    justify-content: flex-start;
}

.c2, .c4, .c6
{
    justify-content: flex-end;
}

/* circles styles */
div.circle
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: blueviolet;
}

.c1 div.circle
{
    background-color: #FFBABA;
    box-shadow: -3px 1px 6px 2px #ffbaba98;
}

.c2 div.circle
{
    background-color: #EAE7B1;
    box-shadow: -3px 1px 6px 2px #eae7b19d;
}

.c3 div.circle
{
    background-color: #2C74B3;
    box-shadow: -3px 1px 6px 2px #2c74b396;
}

.c4 div.circle
{
    background-color: #a3a08f;
    box-shadow: -3px 1px 6px 2px #a3a08f9c;
}

.c5 div.circle
{
    background-color: #FAF8F1;
    box-shadow: -3px 1px 6px 2px #faf8f191;
}

.c6 div.circle
{
    background-color: #E6E5A3;
    box-shadow: -3px 1px 6px 2px #e6e5a39d;
}
